@use "sass-toolkit" as st;
@use "config";
@use "components";
@use "layouts";

:root {
    @include config.shadows-definitions;
    @include config.colors-definitions;
    @include config.default-font;
}

$card-roles: (
    "supervisor": var(--c-teal-100),
    "team-builder": var(--c-red-100),
    "karma": var(--c-yellow-100),
    "calculator": var(--c-blue-100));

@each $role, $color in $card-roles {
    .card[data-role=#{$role}] {
        --card-top-color: #{$color};
        --card-icon-image: url("../assets/images/icon-#{$role}.svg");
    }
}

body {
    $mobile-width: 375;
    $desktop-width: 1174;

    $plr-mobile: 32;
    $pt-mobile: 85;
    $pb-mobile: 78;

    $plr-desktop: 165;
    $ptb-desktop: 80;


    $pt : st.linear-func-clamp($ptb-desktop, $desktop-width, $pt-mobile, $mobile-width);
    $pb : st.linear-func-clamp($pb-mobile, $mobile-width, $ptb-desktop, $desktop-width);
    $plr : st.linear-func-clamp($plr-mobile, $mobile-width, $plr-desktop, $desktop-width);

    padding: $pt $plr $pb;
    background-color: config.$c-white-background;
}