@use "config";
@use "components";

:root {
    @include config.shadows-definitions;
    @include config.colors-definitions;
    @include config.default-font;
}

$card-roles: (
    "supervisor": var(--c-teal-100),
    "team-builder": var(--c-red-100),
    "karma": var(--c-yellow-100),
    "calculator": var(--c-blue-100));

@each $role, $color in $card-roles {
    .card[data-role=#{$role}] {
        --card-top-color: #{$color};
        --card-icon-image: url("../assets/images/icon-#{$role}.svg");
    }
}


//tmp
body {
    background-color: config.$c-white-background;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}